{% extends "templates/base.html" %} {% block content %} {% load static %}

<div class="about">
    <h1>
        Hear it here is a website for music lovers who want to share their
        opinions and discover new sounds. You can join different forums based on
        your favorite genres, artists, albums or songs, and chat with other
        users who have similar tastes. You can also use the genre match feature,
        which is like Tinder for music. You can swipe left or right on albums of
        different genres that are randomly selected for you, and get a
        personalized recommendation of a genre that suits your preferences. Hear
        it here is a fun and easy way to expand your musical horizons and
        connect with other fans.
    </h1>
</div>

{% endblock %}
