{% extends "templates/base.html" %} {% block content %} {% load static %}

<div class="about">
    <h1 class="about-titles">What is Hear It Here?</h1>
    <p class="main-about-p">Hear it here is a website for music lovers who want to share their
        opinions and discover new sounds. You can join different forums based on
        your favorite genres, artists, albums or songs, and chat with other
        users who have similar tastes. You can also use the genre match feature,
        which is like Tinder for music. You can swipe left or right on albums of
        different genres that are randomly selected for you, and get a
        personalized recommendation of a genre that suits your preferences. Hear
        it here is a fun and easy way to expand your musical horizons and
        connect with other fans.</p>
    <br>
    <h1 class="about-titles">Genre Types</h1>
    <div class="genre-types">
        <div class="genre">
            <i class="fa-solid fa-music"></i>
            <br>
            <h1>Discussion on Albums</h1>
            <p>A place where music lovers can come to share diverse views on albums.</p>
        </div>
        <div class="genre">
            <i class="fa-solid fa-headphones"></i>
            <br>
            <h1>Discussion on Artists</h1>
            <p>A place to talk about artist and their songs. How they’ve grown or declined.</p>
        </div>
        <div class="genre">
            <i class="fa-solid fa-record-vinyl"></i>
            <br>
            <h1>Discussion on Genres</h1>
            <p>A place to talk about genres. Passionate discussions about the context, history and development of musical styles.</p>
        </div>
        <div class="genre">
            <i class="fa-solid fa-radio"></i>
            <br>
            <h1>Discussion for New Artists</h1>
            <p>A place for new and seasoned artists to discuss their experiences. This is a forum to ask for advice or share insight.</p>
        </div>
    </div>
    <h1 class="about-titles">Engagement Topics</h1>
    <div class="engagement-topics">
        <div class="topic">
            <i class="fa-solid fa-fire"></i>
            <p>add explanation here</p>
        </div>
        <div class="topic">
            <i class="fa-solid fa-smile"></i>
            <p>add explanation here</p>
        </div>
        <div class="topic">
            <i class="fa-solid fa-face-sad-tear"></i>
            <p>add explanation here</p>
        </div>
    </div>
</div>
<br><br>
<div class = "forum-info">
    <div class = "chart">
        <i class = "fa fa-bar-chart"></i> Hear It Here - Statistics &nbsp;
    </div>
    <div>
      <span><u>{{ total }}</u> Post(s) |
          <u>{{ categories|length }}</u> Topic(s)</span>
    </div>
</div>


{% endblock %}
