{% extends 'templates/base.html' %}
{% block content %}
<header>
	<div class="container">

		<div class="profile">

            <h1 class="profile-user-name">{{ profile.user.username }}</h1>

			<div class="profile-image">

				<img src="{{ profile.image.url }}"
                     alt="" height="80" width="auto">

			</div>

			<div class="profile-stats">
                {% if profile.name.count != 0 %}
                <b><span class="profile-stat-count">Name:</span> {{ profile.name }}</b>
                {% endif %}
                <br>
                <b><span class="profile-stat-count">{{ posts.count }}</span> post(s)</b>


			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">Bio:</span> {{ profile.bio }}</p>

			</div>
            {% if user.id == profile.user.id or user.is_staff %}
            <div class="profile-user-settings">
				<button class="btn profile-edit-btn"><a href="{% url 'account:update_profile' username=profile.user.username %}">
                    Edit Profile</a></button>
			</div>
            {% endif %}
		</div>
	</div>

</header>

<main>

	<div class = "posts-table">
            <div class = "table-head">
                <div class = "status">Status</div>
                <div class = "subjects">Subjects</div>
                <div class = "replies">Replies</div>
                <div class = "last-reply">Recent Reply</div>
            </div>

            {% for post in posts %}
            <div class = "table-row">
                {% if post.comment_set.count == 0 %}
                    <div class = "status"><i class="fa-solid fa-face-sad-tear"></i></div>
                {% elif post.comment_set.count < 4 %}
                    <div class = "status"><i class="fa-solid fa-face-smile"></i></div>
                {% else %}
                    <div class = "status"><i class="fa-solid fa-fire"></i></div>
                {% endif %}

                    <div class = "subjects"><a href="{% url 'forum:view_post' category_id=post.category.id post_id=post.id %}">
                        {{ post.title }}</a>
                    <br>
                    <span>Created by <b><a href="{% url 'account:profile' username=post.user.username %}">
                        {{ post.user.username }}</a></b></span>
                    {% if user.id == post.user.id or user.is_staff %}
                    <br>
                    <span><button><a href="{% url 'forum:delete_post' category_id=post.category.id post_id=post.id %}">
                        Delete</a></button></span>
                    {% endif %}
                </div>
                <div class = "replies">
                    {{ post.comment_set.count }} replies <br>
                </div>
                <div class = "last-reply">
                    {% if post.comment_set.count == 0 %}
                        No Comments Yet
                    {% else %}
                        {{ post.comment_set.last.time }}
                        <br>
                        By <b><a href="{% url 'account:profile' username=post.user.username %}">
                            {{ post.comment_set.last.user.username }}</a></b>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>

</main>

{% endblock %}