*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html{
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

nav{
    position: fixed;
    width: 100%;
    padding: 10px;
    background: #201E20;
    z-index: 500;
}

.icons{
    font-size: 30px;
}

.remove{
    opacity: 0;
}
  
nav .navbar{
    height: 100%;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
  
.navbar ul{
    display: flex;
}
  
.navbar ul li{
    list-style: none;
    margin: 0 8px;
}
  
nav ul li a{
    color: black;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(11, 3, 3, 0.4); 
    font-size: 15px;
}

h2{
    color: #fff;
}

section{
    padding: 1.5em;
}

.icons{
    color: #fff;
}

.genres{
    margin-top: 3%;
    height: 80vh;
    text-align: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    border: 2px solid black;
    background: #201E20;
    margin: 25px;
    height: 320px;
    width: 460px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.artist{
    background-image: url(OVO-Logo.png);
}

.buttons:hover{
    color: aqua;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.logo{
    background-image: url(HearitHere_Logo_1.png);
}