{% extends "templates/base.html" %} {% block content %}
<h2 class="login-h">Sign up</h2>
<form method="post">
    {% csrf_token %}
    <label for="{{ form.email.id_for_label }}">Email Address</label>
    {{ form.email }}
    <br />
    <label for="{{ form.username.id_for_label }}">Username</label>
    {{ form.username }}
    <br />

    <label for="{{ form.password1.id_for_label }}">Password</label>
    {{ form.password1 }}
    <ul class="passReq">
        <li>
            Your password can’t be too similar to your other personal
            information.
        </li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <br />
    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
    {{ form.password2 }}
    <br />
    <br />
    <button id="js-btn" class="btn btn-green btn-lg" onclick="doSubmit()">
        <span class="text">Submit</span>
        <div class="timer">
            <svg
                id="js-timer"
                viewBox="0 0 120 120"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle cx="60" cy="60" r="55" />
            </svg>
        </div>
        <div class="icon-success">
            <svg viewBox="0 0 50 45" xmlns="http://www.w3.org/2000/svg">
                <path d="M20,42 L3, 25" />
                <path d="M20,42 L47,3" />
            </svg>
        </div>
    </button>
</form>
{% endblock %}
