*{
   margin: 0;
   padding: 0;
   font-family: 'Trebuchet MS', sans-serif;
}

.form{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
 }
 
 .form form{ 
    padding:20px;
    margin: auto;
    background: #fff;
    height: 400px;
    width: 600px;
    align-self: center;
    text-align: center;
    border-radius: 20px;
 }

 h3 {
   font-size: 30px;
   margin-top: 10px;
 }
 
 .userpass{
    width: 250px;
    padding: 10px 0;
    border-right: none; 
    border-left: none; 
    border-top: none; 
    border-bottom: 1px solid; 
    margin: 10px 0; 
    outline: none; 
    background: transparent; 
 }

 .submit{
    color: #fff;
    width: 200px; 
    padding: 10px 30px; 
    cursor: pointer; 
    margin: 20px; 
    background: #201E20;
    border: 0; 
    border-radius: 25px; 
 }

 .stay-signed-in{
    color: #ed9292;
 }
