{% extends 'templates/base.html' %}
{% block content %}

<div class = "container">
    <div class = "subforum">
        <div class = "subforum-title">
            <h1>General Discussions</h1>
        </div>
        {% for category in categories %}
            <div class = "subforum-row">
                <div class = "subforum-icon subforum-column center">
                    <i class="fa-solid fa-music"></i>
                </div>
                <div class = "subforum-description subforum-column">
                    <h1><a href="{% url 'forum:posts' category_id=category.id %}">{{ category.title }}</a></h1>
                    <p>{{ category.content }}</p>
                </div>
                <div class = "subforum-stats subforum-column">
                    <span>{{ category.post_set.count }} Post(s)</span>
                </div>
                <div class = "subforum-info subforum-column">
                    {% if category.post_set.last %}
                        <b><a class="last-post" href="{% url 'forum:view_post' category_id=category.id post_id=category.post_set.last.id%}">
                            Last Post</a></b> by
                        <a class="last-post" href="{% url 'account:profile' username=category.post_set.last.user.username %}">
                            {{ category.post_set.last.user.username }}</a>
                        <br>
                        on <small>{{ category.post_set.last.time  }}</small>
                    {% else %}
                        <b><a>No Comments Yet</a></b>
                    {% endif %}
                </div>
            </div>
            <hr class = 'subforum-divider'>
        {% endfor %}
    </div>
</div>

<div class = "forum-info">
    <div class = "chart">
        <i class = "fa fa-bar-chart"></i> Hear It Here - Statistics &nbsp;
    </div>
    <div>
      <span><u>{{ total }}</u> Post(s) |
          <u>{{ categories|length }}</u> Topic(s)</span>
    </div>
</div>
{% endblock %}